:root {
  --main-color: #7367F0
}

body {
  font-family: "Montserrat";
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}

a {
  text-decoration: none;
  color: var(--main-color);
}
